<!DOCTYPE HTML>
<html>
<head>
	## Header 설정 파일
	#parse("common/setting/header.vm")
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
		
		## Left-Navigation
		#parse("dentist/common/left-nav.vm")
		
		## Top-Info
		#parse("common/setting/top-info.vm")
		
		## main content start
		<div id="page-wrapper">
			<div class="main-page">

			</div>
		</div>
		## Footer 설정 파일
		#parse("common/setting/footer.vm")
	</div>
	## Left-Navagation Script
	#parse("common/setting/left-nav-script.vm")
</body>
</html>