<!DOCTYPE HTML>
<html>
<head>
	## Header 설정 파일
	#parse("common/setting/header.vm")
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">

		## Left-Navigation
		#parse("dentist/common/left-nav.vm")

		## Top-Info
		#parse("common/setting/top-info.vm")

		## main content start
		<div id="page-wrapper">
			<div class="main-page compose widget-shadow">
				<div class="panel-default">
					<div class="panel-heading">
						공지사항을 입력 하세요.
					</div>
					<div class="panel-body">
						<div class="alert alert-info">
							공지사항은 모든 회원에게 공게 됩니다. 신중하게 작성하세요.
						</div>
						<form class="com-mail">
							<input type="text" id="title" class="form-control1 control3" placeholder="제목 :" value="$!Notice.title">
							<textarea rows="6" id="content" class="form-control1 control2" placeholder="공지 내용 :" >$!Notice.content</textarea>
							<button type="button" onclick="app.noticeAdd();" class="btn btn-default">
								#if($type == "modify")
								수정하기
								#else
								등록하기
								#end
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		## Footer 설정 파일
		#parse("common/setting/footer.vm")
	</div>

	## Left-Navagation Script
	#parse("common/setting/left-nav-script.vm")

<script>
	function App() {
		var _this = this;

		## ENV
		_this.env = {};
		_this.env.title = $('#title');
		_this.env.content = $('#content');

		## login validation
		_this.noticeValidation = function() {

			## Id Check
			if(_this.env.title.val().trim() == '') {
				alert('제목을 입력하세요.');
				return false;
			}

			## Pwd Cehck
			if(_this.env.content.val().trim() == '') {
				alert('공지 내용을 입력하세요.');
				return false;
			}
			## 통과할 경우
			return true;
		};

		## login
		_this.noticeAdd = function() {
			var valitdation = false;
			valitdation = _this.noticeValidation();

			if(valitdation) {
				var url = '/dentist/ajax/notice/add';
				
				#if($type == "modify")
				var params = {
					type : "modify",
					title : _this.env.title.val(),
					content : _this.env.content.val(),
					noticeNo : $!Notice.noticeNo,
					dentistNo : $!SessionData.dentist.dentistNo,
					writerId : "$!SessionData.memberId"
				};
				#else
				var params = {
					type : "add",
					title : _this.env.title.val(),
					content : _this.env.content.val(),
					noticeNo : 0,
					dentistNo : $!SessionData.dentist.dentistNo,
					writerId : "$!SessionData.memberId"
				};
				#end

				$.ajax({
					url: url,
					type: 'POST',
					data: params,
					success: function(result) {
						location.href="/dentist/notice/list?dentistNo=$!SessionData.dentist.dentistNo";
					},
					error: function(request, status, error) {
						console.log(request);
					}
				});
			};
		};

		_this.eventBind = function() {
		
		};

		## Init
		_this.init = function() {
			_this.eventBind();
		}();
	}

	var app = new App();
</script>

</body>
</html>