<!DOCTYPE HTML>
<html>
<head>
	## Header 설정 파일
	#parse("common/setting/header.vm")
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
		
		## Left-Navigation
		#parse("dentist/common/left-nav.vm")
		
		## Top-Info
		#parse("common/setting/top-info.vm")
		
		## main content start
		<div id="page-wrapper">
			<div class="main-page">
				<div class="tables">
					<h3 class="title1">공지 목록</h3>
					<div class="panel-body widget-shadow">
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>제목</th>
									<th>작성자</th>
								</tr>
							</thead>
							<tbody>
								#foreach($row in $NoticeList)
								<tr>
									<th scope="row">$row.noticeNo</th>
									<td><a href="/dentist/notice/details?noticeNo=$!row.noticeNo">$row.title</a></td>
									<td>$row.writerId</td>
								</tr>
								#end
							</tbody>
						</table>
						
						#* ##Paging Nav Start
						<div class="col-md-6 col-md-offset-3">
							<nav>
								<ul class="pagination pagination-lg">
									##<li class="disabled"><a href="#">«</a></li>
									##<li class="active"><a href="#">1</a></li>
									<li><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
								</ul>
							</nav>
						</div>
						##Paging Nav End *#
					</div>
				</div>
			</div>
		</div>

		## Footer 설정 파일
		#parse("common/setting/footer.vm")
	</div>
	
	## Left-Navagation Script
	#parse("common/setting/left-nav-script.vm")
</body>
</html>