<!DOCTYPE HTML>
<html>
<head>
	## Header 설정 파일
	#parse("common/setting/header.vm")
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
		
		## Left-Navigation
		#parse("factory/common/left-nav.vm")
		
		## Top-Info
		#parse("common/setting/top-info.vm")
		
		## main content start
		<div id="page-wrapper">
			<div class="main-page">
				<div class="tables">
					<h3 class="title1">치과 목록</h3>
					<div class="panel-body widget-shadow">
						<div class="form-group">
							<div class="col-md-6">
								<label for="usr"></label>
								<input type="text" class="form-control" id="dentistName" placeholder="등록할 치과 이름을 입력하세요." value="">
							</div>
							<div class="col-md-2">
								<input type="button" class="btn btn-primary" value="등록" style="margin-top: 21px;width: 100%;" onclick="app.checkDentist();">
							</div>
						</div>

						<table class="table">
							<thead>
								<tr>
									<th style="text-align: center; width:15%;">치과번호</th>
									<th style="text-align: center;">치과명</th>
								</tr>
							</thead>
							<tbody style="text-align: center;">
								#foreach($row in $dentistList)
								<tr>
									<th scope="row" style="text-align: center;">$!row.dentistNo</th>
									<td>$!row.dentistName</td>
								</tr>
								#end
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
		## Footer 설정 파일
		#parse("common/setting/footer.vm")
	</div>
	## Left-Navagation Script
	#parse("common/setting/left-nav-script.vm")

<script>
	function App() {
		var _this = this;

		## ENV
		_this.env = {};
		_this.env.dentistName = $('#dentistName');
		
		## 치과 이름 중복 확인
		_this.checkDentist = function() {
			var dName = _this.env.dentistName.val().trim();
		
			if(dName == '') {
				alert("등록할 치과 이름을 입력하세요.");
				return false;
			}
		
			var params = {
				dentistName : dName
			}

			var url = "/factory/ajax/check/dentist/name";
			$.ajax({
				url: url,
				type: 'GET',
				data: params,
				success: function(result) {
					if(result == 'possible') {
						_this.saveDentist();
					} else {
						alert("치과 이름은 중복될수 없습니다.");
					}
				},
				error: function(request, status, error) {
					console.log(request);
				}
			});
		};
		
		
		## 치과 등록
		_this.saveDentist = function() {
			var dName = _this.env.dentistName.val().trim();
			var params = {
				dentistName : dName
			}

			var url = "/factory/ajax/save/dentist/name";
			$.ajax({
				url: url,
				type: 'POST',
				data: params,
				success: function(result) {
					alert("등록 되었습니다.");
					location.reload();
				},
				error: function(request, status, error) {
					console.log(request);
				}
			});
		};

	}

	var app = new App();
</script>

</body>
</html>