<!DOCTYPE HTML>
<html>
<head>
	## Header 설정 파일
	#parse("common/setting/header.vm")
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
		
		## Left-Navigation
		#parse("factory/common/left-nav.vm")
		
		## Top-Info
		#parse("common/setting/top-info.vm")
		
		## main content start
		<div id="page-wrapper">
			<div class="main-page">
				<div class="tables">
					<h3 class="title1">Q&A 목록</h3>
					<div class="panel-body widget-shadow">
						<table class="table">
							<thead>
								<tr>
									<th style="text-align: center;">환자명</th>
									<th style="text-align: center;">의사명</th>
								</tr>
							</thead>
							<tbody style="text-align: center;">
								#foreach($row in $list)
								<tr>
									<td>$!row.memberName</td>
									<td>$!row.doctorName</td>
								</tr>
								#end
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		## Footer 설정 파일
		#parse("common/setting/footer.vm")
	</div>
	
	## Left-Navagation Script
	#parse("common/setting/left-nav-script.vm")

<script>
	function App() {
		var _this = this;

		## ENV
		_this.env = {};
		_this.env.doctorNo = $('#doctorNo');
		_this.env.memberName = $('#memberName');
		
		## 리스트 검색
		_this.searchList = function() {

			if(_this.env.memberName.val().trim() == "") {
				alert("환자명을 입력하세요.");
				return false;
			}
			location.href="/factory/dentist/member/list?doctorNo="+_this.env.doctorNo.val() + "&memberName="+_this.env.memberName.val().trim();
		};

	}

	var app = new App();
</script>

</body>
</html>