<!DOCTYPE HTML>
<html>
<head>
	## Header 설정 파일
	#parse("dentist/common/header.vm")
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
		
		## Left-Navigation
		#parse("dentist/common/left-nav.vm")
		
		## Top-Info
		#parse("dentist/common/top-info.vm")
		
		## main content start
		<div id="page-wrapper">
			<div class="main-page">
				<div class="row calender widget-shadow">
					<h4 class="title">장치사용법</h4>
					<div> 
						<img class="img-rounded" src="$!fileInfo.fileUrl/$!fileInfo.fileName" width="100%">
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

		## Footer 설정 파일
		#parse("dentist/common/footer.vm")
	</div>
	
	## Left-Navagation Script
	#parse("dentist/common/left-nav-script.vm")
</body>
</html>