<!DOCTYPE HTML>
<html>
<head>
	## Header 설정 파일
	#parse("common/setting/header.vm")
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">

		## Left-Navigation
		#parse("dentist/common/left-nav.vm")
		
		## Top-Info
		#parse("common/setting/top-info.vm")
		## main content start
		<div id="page-wrapper">
			<div class="main-page signup-page">
				#if($!type=="modify")
				<h3 class="title1" style="color: #4f52ba;">환자 정보 수정</h3>
				#else
				<h3 class="title1" style="color: #4f52ba;">환자 등록</h3>
				#end
				##<p class="creating">Having hands on experience in creating innovative designs,I do offer design solutions which harness.</p>
				<div class="sign-up-row widget-shadow">
					<h5>개인 정보</h5>
					<div class="sign-u">
						<div class="sign-up1">
							<h4>이름 * :</h4>
						</div>
						<div class="sign-up2">
							<input type="text" id="memberName" value="$!memberInfo.memberName">
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="sign-u">
						<div class="sign-up1">
							<h4>나이 :</h4>
						</div>
						<div class="sign-up2">
							<input type="text" id="memberAge" value="$!memberInfo.memberAge">
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="sign-u">
						<div class="sign-up1">
							<h4>이메일 * :</h4>
						</div>
						<div class="sign-up2">
							<input type="text" id="memberEmail" value="$!memberInfo.memberEmail">
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="sign-u">
						<div class="sign-up1">
							<h4>성별 * :</h4>
						</div>
						<div class="sign-up2">
							<label>
								<input type="radio" name="gender" value="M" #if($!type=="modify") #if($!memberInfo.memberGender == "M") checked="checked" #end #else checked="checked"#end> Male
							</label>
							<label>
								<input type="radio" name="gender" value="F" #if($!type=="modify" && $!memberInfo.memberGender == "F") checked="checked" #end> Female
							</label>
						</div>
						<div class="clearfix"></div>
					</div>
					<hr>
					<h6>로그인 정보</h6>
					<div class="sign-u">
						<div class="sign-up1">
							<h4>아이디 * :</h4>
						</div>
						<div class="sign-up2">
							<input type="text" id="memberId" value="$!memberInfo.memberId">
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="sign-u">
						<div class="sign-up1">
							<h4>비밀번호 * :</h4>
						</div>
						<div class="sign-up2">
							<input type="password" id="memberPwd" value="$!memberInfo.memberPwd">
						</div>
						<div class="clearfix"></div>
					</div>
					<hr>
					<div class="sub_home">
						#if($!type=="modify")
						<input class="btn" style="background-color: #4f52ba !important; color: white; width: 100%;" value="수정" onclick="app.memberAdd();">
						#else
						<input class="btn" style="background-color: #4f52ba !important; color: white; width: 100%;" value="등록" onclick="app.memberAdd();">
						#end
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>

		## Footer 설정 파일
		#parse("common/setting/footer.vm")
	</div>
	
	## Left-Navagation Script
	#parse("common/setting/left-nav-script.vm")



<script>
	function App() {
		var _this = this;

		## ENV
		_this.env = {};
		_this.env.memberName = $('#memberName');
		_this.env.memberAge = $('#memberAge');
		_this.env.memberEmail = $('#memberEmail');
		_this.env.memberId = $('#memberId');
		_this.env.memberPwd = $('#memberPwd');

		## login validation
		_this.memberValidation = function() {

			## memberName Check
			if(_this.env.memberName.val().trim() == '') {
				alert('이름을 입력 하세요.');
				return false;
			}

			## memberAge Check
			if(_this.env.memberAge.val().trim() == '') {
				alert('나이를 입력 하세요.');
				return false;
			}

			## memberEmail Check
			if(_this.env.memberEmail.val().trim() == '') {
				alert('이메일을 입력 하세요.');
				return false;
			}

			## memberId Check
			if(_this.env.memberId.val().trim() == '') {
				alert('회원 아이디를 입력 하세요.');
				return false;
			}

			## memberPwd Check
			if(_this.env.memberPwd.val().trim() == '') {
				alert('회원 비밀번호를 입력 하세요.');
				return false;
			}

			## 통과할 경우
			return true;
		};

		## 회원 정보 추가 및 수정
		_this.memberAdd = function() {
			var valitdation = false;
			valitdation = _this.memberValidation();

			if(valitdation) {
				var url = "/ajax/member/add/$!type/general";

				var genderType = document.getElementsByName('gender');
				var gender = "M";
				for(var i=0; i<genderType.length; i++) {
					if(genderType[i].checked == true) {
						gender = genderType[i].value;
					}
				}

				var params = {
					memberName : _this.env.memberName.val(),
					memberGender : gender,
					memberAge : _this.env.memberAge.val(),
					memberEmail : _this.env.memberEmail.val(),
					memberId : _this.env.memberId.val(),
					memberPwd : _this.env.memberPwd.val()
				};

				#if($!type=="modify")
					params.memberNo = $!memberInfo.memberNo; 
				#end

				$.ajax({
					url: url,
					type: 'POST',
					data: params,
					success: function(result) {
						#if($!type=="modify")
						alert("회원 정보 수정이 완료 되었습니다.");
						#else
						alert("회원 등록이 완료 되었습니다.");
						#end
						location.reload();
					},
					error: function(request, status, error) {
						console.log(request);
					}
				});
			};
		};

		_this.eventBind = function() {
		
		};

		## Init
		_this.init = function() {
			_this.eventBind();
		}();
	}

	var app = new App();
</script>

</body>
</html>