## Header Meta Info
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="/admin/css/bootstrap.min.css?$version" rel="stylesheet">
<link href="/admin/css/font-awesome.min.css?$version" rel="stylesheet" type="text/css">
<link href="/admin/css/dataTables.bootstrap4.css?$version" rel="stylesheet">
<link href="/admin/css/admin.min.css?$version" rel="stylesheet">

