<!DOCTYPE HTML>
<html>
<head>
	## Header 설정 파일
	#parse("dentist/common/header.vm")
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
		
		## Left-Navigation
		#parse("dentist/common/left-nav.vm")
		
		## Top-Info
		#parse("dentist/common/top-info.vm")
		
		## main content start
		<div id="page-wrapper">
			<div class="main-page">
				<div class="typography widget-shadow">
					<div class="alert alert-info" role="alert" style="text-align: center;">
						<b>[$!headerInfo.memberName]</b> 님의 회원 관리
					</div>
				</div>
				<div class="grids widget-shadow">
					<div class="form-group">
						<div class="row" style="margin-bottom: 3em;">
							<div class="col-md-6 grid_box1" style="text-align: center;">
								<img src="/img/user.png"><br><br>
								<a href="/dentist/member/add?type=modify&memberNo=$!memberNo" class="btn" style="background-color: #4f52ba; color:white;width: 60%;">환자 정보 수정</a>
							</div>
							<div class="col-md-6" style="text-align: center;">
								<img src="/img/teath.png"><br><br>
								<a class="btn" style="background-color: #4f52ba; color:white;width: 60%;">환자 교정장치 착용 기간</a>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="form-group">
						<div class="row" style="margin-bottom: 3em;">
							<div class="col-md-6 grid_box1" style="text-align: center;">
								<img src="/img/up.png"><br><br>
								<a class="btn" style="background-color: #4f52ba; color:white;width: 60%;">환자 사진 정보 업로드</a>
							</div>
							<div class="col-md-6" style="text-align: center;">
								<img src="/img/down.png"><br><br>
								<a class="btn" style="background-color: #4f52ba; color:white;width: 60%;">셋업 사진 다운로드</a>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="form-group">
						<div class="row" style="margin-bottom: 3em;">
							<div class="col-md-6 grid_box1" style="text-align: center;">
								<img src="/img/calendar.png"><br><br>
								<a class="btn" style="background-color: #4f52ba; color:white;width: 60%;">환자 약속 일정 관리</a>
							</div>
							<div class="col-md-6" style="text-align: center;">
								<img src="/img/question.png"><br><br>
								<a class="btn" style="background-color: #4f52ba; color:white;width: 60%;">환자 Q&A</a>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>	
				</div>
			</div>
		</div>

		## Footer 설정 파일
		#parse("dentist/common/footer.vm")
	</div>
	
	## Left-Navagation Script
	#parse("dentist/common/left-nav-script.vm")
</body>
</html>