<!DOCTYPE HTML>
<html>
<head>
	## Header 설정 파일
	#parse("common/setting/header.vm")
	<script src="http://code.highcharts.com/highcharts.js"></script>
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
		
		## Left-Navigation
		#parse("dentist/common/left-nav.vm")
		
		## Top-Info
		#parse("common/setting/top-info.vm")
		
		## main content start
		<div id="page-wrapper">
			<div class="main-page">
				<h3 style="color:#4f52ba;">
					<i class="fa fa-plus" aria-hidden="true"></i> 교정 장치 정보
				</h3>
				<br>
				<div class="panel-body widget-shadow" style="min-height:300px;">
					<table class="table">
						<thead>
							<tr>
								<th style="text-align: center;">교정 그래프</th>
							</tr>
						</thead>
					</table>
					<div id="container"></div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

		<form action="" method="post" enctype="multipart/form-data">
			<input data-role="fileupload" data-idx="img" type="file" name="files" style="position:absolute; left:-9999px; top:-9999px; visibility:hidden;">
		</form>

		## Footer 설정 파일
		#parse("common/setting/footer.vm")
	</div>
	
	## Left-Navagation Script
	#parse("common/setting/left-nav-script.vm")

## 반원 차트
<script language="JavaScript">
$(document).ready(function() {  
	var chart = {
		plotBackgroundColor: null,
		plotBorderWidth: 0,
		plotShadow: false
	};
	var title = {
		text: '교정 단계<br>정보',
		align: 'center',
		verticalAlign: 'middle',
		y: 50
	};
	var tooltip = {
		pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
	};
	var plotOptions = {
		pie: {
		dataLabels: {
		enabled: true,
		distance: -50,
		style: {
			fontWeight: 'bold',
			color: 'white',
			textShadow: '0px 1px 2px black'
		}
		},
		startAngle: -90,
		endAngle: 90,
		center: ['50%', '75%']
		}
	};
	var series= [{
		type: 'pie',
		name: '진행률',
		innerSize: '50%',
		data: [
		['진행', $!process],
		['남음', $!nonProcess]
		]
	}];

	var json = {};
	json.chart = chart; 
	json.title = title;
	json.tooltip = tooltip;
	json.series = series;
	json.plotOptions = plotOptions;
	$('#container').highcharts(json);
});
</script>
</body>
</html>