<!DOCTYPE HTML>
<html>
<head>
	## Header 설정 파일
	#parse("common/setting/header.vm")

<link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">

	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
	<script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
		
		## Left-Navigation
		#parse("dentist/common/left-nav.vm")
		
		## Top-Info
		#parse("common/setting/top-info.vm")
		
		## main content start
		<div id="page-wrapper">
			<div class="main-page elements  row">
				<h3 style="color:#4f52ba;margin-left: 1em;">
					<i class="fa fa-plus" aria-hidden="true"></i> 환자 약속 일정 관리
					<button type="button" style="background-color:#4f52ba; color: white;float: right;" class="btn" data-toggle="modal" data-target="#myModal">일정 추가 <span class="fa fa-plus"></span></button>
				</h3>
				<hr>
				<div class="stats-info stats-last widget-shadow" style="width: 100%;">
						<table class="table stats-table ">
							<thead>
								<tr>
									<th>S.NO</th>
									<th width="50%">정보</th>
									<th>시간</th>
									<th>상태</th>
								</tr>
							</thead>
							<tbody>
								#if($schedualList.size() > 0)
								#foreach($row in $schedualList)
								<tr>
									<th scope="row">
										<a href="javascript:;" onclick="app.deleteSchedual('$!row.scNo');">$!row.scNo</a></th>
									<td>$!row.info</td>
									<td>$!row.datetime</td>
									#if($row.status == 'new')
									<td><a href="javascript:;" onclick="app.changeSchedual('$!row.scNo', 'closed');" class="label label-warning">NEW</a></td>
									#else
									<td><a href="javascript:;" onclick="app.changeSchedual('$!row.scNo','new');" class="label label-success">CLOSED</a></td>
									#end
								</tr>
								#end
								#else
								<tr>
									<td colspan="4">등록된 일정이 없습니다.</td>
								</tr>
								#end
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		## Footer 설정 파일
		#parse("common/setting/footer.vm")
	</div>
	
	## Left-Navagation Script
	#parse("common/setting/left-nav-script.vm")

## Modaㅣ
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">일정 등록</h4>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class='col-sm-8'>
							<div class="form-group">
								 <label for="disabledSelect" class="col-sm-2 control-label" style="margin-top: 5px;">일정 : </label>
								<div class='col-sm-10 input-group date' id='datetimepicker1'>
									<input type='text' class="form-control" id="datetime" />
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
							<div class="form-group">
								<label for="disabledSelect" class="col-sm-2 control-label" style="margin-top: 5px;">정보 : </label>
								<div class='col-sm-10 input-group date'>
									<input type='text' class="form-control" id='info'/>
								</div>
							</div>
						</div>
						<script type="text/javascript">
							$(function () {
								$('#datetimepicker1').datetimepicker({
									format:'YYYY-MM-DD HH:mm'
								});
							});
						</script>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" onclick="app.addSchedual();">추가</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
			</div>
		</div>
	</div>
</div>

<script>
	function App() {
		var _this = this;

		## ENV
		_this.env = {};
		_this.env.info = $('#info');
		_this.env.datetime = $('#datetime');

		## login validation
		_this.changeSchedual = function(scNo, status) {
		
			var message = "상태를 NEW로 변경 하시겠습니까?";
			
			if(status == 'closed') {
				message = "상태를 CLOSED로 변경 하시겠습니까?";
			}
		
			var isVaild = confirm(message);
			
			if(!isVaild) {
				return false;
			}
			
			var url = '/dentist/ajax/schedual/modify';
			var params = {
				status : status,
				scNo : scNo
			};

			$.ajax({
				url: url,
				type: 'POST',
				data: params,
				success: function(result) {
					alert("일정이 수정 되었습니다.");
					location.reload();
				},
				error: function(request, status, error) {
					console.log(request);
				}
			});
		};

		## Qa 등록
		_this.addSchedual = function() {
			if(_this.env.info.val().trim() == '') {
				alert("약속 정보를 입력 하세요.");
				return false;
			}
			if(_this.env.datetime.val().trim() == '') {
				alert("약속 시간을 입력 하세요.");
				return false;
			}

			var url = '/dentist/ajax/schedual/add';
			var params = {
				info : _this.env.info.val(),
				datetime : _this.env.datetime.val(),
				memberNo : $!memberNo
			};

			$.ajax({
				url: url,
				type: 'POST',
				data: params,
				success: function(result) {
					alert("일정이 등록 되었습니다.");
					location.reload();
				},
				error: function(request, status, error) {
					console.log(request);
				}
			});
		};
		
		## Qa 삭제
		_this.deleteSchedual = function(scNo) {
			var isVaild = confirm("정말 삭제하시겠습니까?");
			if(isVaild) {
				var url = '/dentist/ajax/schedual/delete';
				var params = {
					scNo : scNo
				};

				$.ajax({
					url: url,
					type: 'POST',
					data: params,
					success: function(result) {
						location.reload();
					},
					error: function(request, status, error) {
						console.log(request);
					}
				});
			};
		}

		## Init
		_this.init = function() {
			
		}();
	}

	var app = new App();
</script>

</body>
</html>