<!DOCTYPE HTML>
<html>
<head>
	## Header 설정 파일
	#parse("common/setting/header.vm")
</head> 
<body class="cbp-spmenu-push">
	<div class="main-content">
		
		## Left-Navigation
		#parse("factory/common/left-nav.vm")
		
		## Top-Info
		#parse("common/setting/top-info.vm")
		
		## main content start
		<div id="page-wrapper">
			<div class="main-page">
				<h3 style="color:#4f52ba;">
					<i class="fa fa-plus" aria-hidden="true"></i> 환자별 사진 정보
				</h3>
				<br>

				<div class="panel-body widget-shadow" style="min-height:300px;">
					<table class="table">
						<thead>
							<tr>
								<th style="text-align: center;">사진 정보</th>
							</tr>
						</thead>
					</table>
					#foreach($row in $imgList)
					<div class="col-md-4" style="margin-bottom:1em; text-align:center;">
						<img src="$!row.fileUrl/$!row.fileName" class="img-rounded" width="100%" height="236">
						<a class="btn btn-info" style="margin-top:0.5em;" href="$!row.fileUrl/$!row.fileName" download>이미지 다운로드</a>
					</div>
					#end
					
					## 사진이 없을경우
					#if($imgList.size() == 0)
						<p style="margin-top: 3em; margin-bottm: 3em; text-align:center;">등록된 이미지가 없습니다.</p>
					#end
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

		## Footer 설정 파일
		#parse("common/setting/footer.vm")
	</div>
	
	## Left-Navagation Script
	#parse("common/setting/left-nav-script.vm")
	
	<script>
		function App() {
			var _this = this;
	
			## ENV
			_this.env = {};
			_this.env.memberNo = $!memberNo;
		}
	
		var app = new App();
	</script>
</body>
</html>