<!DOCTYPE html>
<html>
	#parse("user/setting/header.vm")
	<script src="http://code.highcharts.com/highcharts.js"></script>
<body>
	#parse("user/setting/layout.vm")

	## 내용
	<div id="page-wrapper">
		<div class="main-page">
			<div class="row calender widget-shadow">
				<br>
				<div> 
					#if("$!fileInfo.fileUrl" != "")
						<img class="img-rounded" src="$!fileInfo.fileUrl/$!fileInfo.fileName" width="100%">
					#else
						<p>등록된 이미지가 없습니다.</p>
					#end
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

	#parse("user/setting/footer.vm")


</body>